.container{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boxes{
    width: 100%;
    max-width: none;
}
.namma-kumta{
    width: 100%;
    max-width: none;
    display: flex;
    margin-right: 100px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 10px 10px #e0e0e0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
}
.namma-kumta img{
    width: 100%;
    max-width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 70px;
}
.type{
    font-size: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: text;
}
.i{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}
.bell{
    font-size: 40px;
    padding-right: 15px;
    cursor: pointer;
}
.user{
    font-size: 40px;
    cursor: pointer;
    padding-right: 15px;
}
.global{
    font-size: 40px;
    cursor: pointer;
    padding-right: 15px;
}

.em{
    width: 100%;
    max-width: none;
    position:fixed;
    padding-bottom: 100px;
    left: 0;
    padding-top: 100px;
}
.em-icon{
    width: 100%;
    max-width: none;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 10px 10px #e0e0e0;
    display: flex;
}
.e-ic{
    width: 100%;
    max-width: none;
    font-size: 25px;
    padding-left: 30px;
    align-items: center;
}
.e-ic a{
    display: flex;
}
.e-ic a a{
    font-size: 25px;
    margin-top: 45px;
}
.e-ic a p{
    padding-left: 25px;
    font-size: 35px;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ambulance{
    width: 100%;
    max-width: none;
    border: 1px solid #e0e0e0;
}
.ambulance a{
    display: flex;
}
.ambulance img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 25px;

}
.ambulance p{
    font-size: 28px;
    padding-left: 50px;
}
.fire{
    width: 100%;
    max-width: none;
    border: 1px solid #e0e0e0;
    display: flex;
}
.fire img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 25px;

}
.fire p{
    font-size: 28px;
    padding-left: 50px;
}
.police{
    width: 100%;
    max-width: none;
    border: 1px solid #e0e0e0;
    display: flex;
}
.police img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 25px;

}
.police p{
    font-size: 28px;
    padding-left: 50px;
}
.rescue{
    width: 100%;
    max-width: none;
    border: 1px solid #e0e0e0;
    display: flex;
}
.rescue img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 25px;

}
.rescue p{
    font-size: 28px;
    padding-left: 50px;
}
.cyber{
    width: 100%;
    max-width: none;
    border: 1px solid #e0e0e0;
    display: flex;
}
.cyber img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 25px;

}
.cyber p{
    font-size: 28px;
    padding-left: 50px;
}
.traffic{
    width: 100%;
    max-width: none;
    border: 1px solid #e0e0e0;
    display: flex;
}
.traffic img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 25px;

}
.traffic p{
    font-size: 28px;
    padding-left: 50px;
}





.icons{
    width: 100%;
    max-width: none;
    position: fixed;
    margin-top: 940px;
    left: 0;
    background-color: white;
}
.icons1{
    width: 100%;
    max-width: none;
    height: 105px;
    border: 1px solid #e0e0e0;
    display: flex;
}
.home{
    width: 100%;
    max-width: 556px;
    cursor: pointer;
}
.home1{
    width: 100%;
    max-width: 556px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 35PX;
}
.home2{
    width: 100%;
    max-width: 556px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-top: 10px;
}
.search11{
    width: 100%;
    max-width: 556px;
    cursor: pointer;
}
.search111{
    width: 100%;
    max-width: 556px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 35PX;
}
.search112{
    width: 100%;
    max-width: 556px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-top: 10px;
}
.add{
    width: 100%;
    max-width: 556px;
    cursor: pointer;
}
.add1{
    width: 100%;
    max-width: 556px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 35PX;
}
.add2{
    width: 100%;
    max-width: 556px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-top: 10px;
}
.alert{
    width: 100%;
    max-width: 556px;
    cursor: pointer;
}
.alert1{
    width: 100%;
    max-width: 556px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 35PX;
}
.alert2{
    width: 100%;
    max-width: 556px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-top: 10px;
}